body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Page*/
.page {
    overflow: hidden;
}

/*Intro*/
.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("images/intro.jpg") center no-repeat;
    background-size: cover;
    min-height: 800px;
    position: relative;
}

.intro-title {
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: white;
}

.intro-title:after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 60px auto;
}

.intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro-suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: white;
}

/*header*/
.header {
    position: absolute;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header.active {
    background-color: #eb8b8d;
    position: fixed;
    top: 0;
    right: 0;
    LEFT: 0;
    padding: 15px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transform: translate3d(0, 0, 0);
}

.header .active {
    background-color: #eb8b8d;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.header-logo:hover {
    text-decoration: none;
    color: white;
}

/*nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav.active {
    display: block;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color .2s linear;
    position: relative;
}

.nav-link.activ {
    color: #fce38a;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.nav-link:hover {
    color: #fce38a;
}

.nav-link:hover:after, .nav-link.activ:after {
    opacity: 1;
}

/*nav-toggle*/
.nav-toggle {
    width: 30px;
    padding: 1px 0;
    position: absolute;
    display: none;
    top: 20px;
    right: 20px;
    z-index: 3;
}

.nav-toggle.active .nav-toggle--item {
    background: none;
}

.nav-toggle.active .nav-toggle--item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-1px);
}

.nav-toggle.active .nav-toggle--item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-2px);;
}

.nav-toggle--item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
}

.nav-toggle--item:before, .nav-toggle--item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle--item:before {
    top: -8px;
}

.nav-toggle--item:after {
    bottom: -8px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 9px 30px;
    border: 3px solid white;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: unset;
    transition: background-color .2s linear, color .2s linear;
}

.btn:hover {
    background-color: white;
}

/*Slider*/
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider-inner {
    display: flex;
    justify-content: space-between;
}

.slider-item {
    position: relative;
    width: 24%;
    padding: 20px 0;
    border-top: 2px solid white;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    opacity: .7;
}

.slider-item.active {
    opacity: 1;
}

.slider-item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}

.slider-num {
    font-weight: bold;
    font-size: 23px;
}

/*Section*/
.section {
    padding: 80px 0;
}

.section--map {
    background: url("images/map-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.section--clients {
    background: #f5f5f5 url("images/clients-bg.jpg") center no-repeat;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url("images/devices-bg.jpg") center no-repeat;
    background-size: cover;
}

.section-header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section-subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: black;
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}

.section-text {
    font-size: 15px;
    color: gray;
}

.about {
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-item {
    width: 33.333%;
    padding: 0 15px;
}

/*card-inner*/
.about-inner {
    position: relative;
    background-color: #95e1d3;
}

.about-inner:hover .about-image {
    transform: translate3d(-10px, -10px, 0);
}

.about-inner:hover .about-image img {
    opacity: 0.1;
}

.about-inner:hover .about-text {
    opacity: 1;
}

.about-image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .1s linear;
}

.about-image img {
    display: block;
    transition: opacity .1s linear;
    max-width: 100%;
    height: auto;
}

.about-text {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

/*cards*/
.card-info {
    margin-top: 20px;
    text-align: center;
}

.card-name {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.card-prof {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/*statistics*/
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat-item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: white;
    padding: 70px 25px;
}

.stat-item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat-count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}

.stat-text {
    font-size: 14px;
    text-transform: uppercase;
}

/*services*/
.services {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    width: 33%;
    padding-right: 35px;
    position: relative;
    padding-left: 85px;
}

.services-item--border {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.services-icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
}

.services-title {
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: gray;
}

/*Devices*/
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices-item {
    display: block;
    width: 100%;
    height: auto;
}

.devices-item--iphone {
    position: absolute;
    top: 37%;
    left: 63%;
    width: 330px;
}

/*we-do*/
.we-do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.we-do_item {
    width: 49%;
}

.we-do--img img {
    width: 100%;
    height: auto;
}

/*accordion*/
.accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion-item.active .accordion-content {
    display: block;
}

.accordion-item.active .accordion-header {
    border-bottom-color: #e5e5e5;
}

.accordion-item.active .accordion-header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 3px;
}

.accordion-header {
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion-header:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion-content {
    font-family: 'Roboto', sans-serif;
    display: none;
    color: #999;
    padding: 15px 20px;
    font-size: 15px;
    font-style: italic;
}

.accordion-title {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

/*Reviews*/
.reviews {
    position: relative;
}

.reviews .slick-slider{
    padding: 0 110px;
}

.reviews-item {
    padding-left: 215px;
    position: relative;
    min-height: 170px;
}

.reviews-photo {
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 170px;
    border: 2px solid #95e1d3;
}

.reviews-text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
    margin-bottom: 15px;
}

.reviews-author {
    font-size: 24px;
    color: #333333;
    font-family: "Kaushan Script", cursive;
}

.reviews-author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

.slick-arrow {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    border: none;
    background: none;
}

.slick-arrow:focus{
    outline: none;
}

.slick-arrow:after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.slick-next  {
    right: 0;
    transform: rotate(135deg);
}

/*social*/
.social {
    display: flex;
    justify-content: center;
}

.social-item {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    padding: 12px 10px;
    line-height: 1;
    transition: background-color .2s, color .2s;
}

.social-item:last-child {
    border-right: unset;
}

.social-item:hover {
    background-color: #f38181;
    color: white;
}

/*Logos*/
.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logos-item {
    max-width: 130px;
}

.logos-item img {
    width: 100%;
    height: auto;
}

/*works*/
.works {
    display: flex;
}

.works-col {
    flex: 1 1 0;
}

.works-item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works-item:hover .works-image {
    opacity: .1;
}

.works-item:hover .works-info {
    opacity: 1;
}

.works-image {
    width: 100%;
    height: auto;
    transition: opacity .2s linear;
    display: block;
}

.works-info {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    opacity: 0;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works-title {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.works-text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/*Clients*/
.clients {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.clients-item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients-photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients-name {
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.clients-prof {
    font-size: 15px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.clients-text {
    font-size: 14px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
}

.clients-text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

/*Blog*/
.blog {
    display: flex;
    justify-content: space-around;
}

.blog-item {
    width: 30%;
}

.bolg-header {
    position: relative;
    margin-bottom: 15px;
}

.blog-photo {
    display: block;
    width: 100%;
    height: auto;
}

.blog-date {
    position: absolute;
    left: -10px;
    bottom: 10px;
    background-color: #95e1d3;
    z-index: 1;
    color: white;
    font-size: 15px;
    font-style: italic;
    padding: 10px 20px;
    text-align: center;
    font-weight: 300;
}

.blog-date-day {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 1;
}

.blog-content {
    margin-bottom: 15px;
}

.blog-title {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.blog-title a {
    color: inherit;
    text-decoration: none;
}

.blog-title a:hover {
    text-decoration: underline;
}

.blog-text {
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
}

.blog-footer {
    border-top: #e5e5e5 1px solid;
    padding-top: 15px;
    color: #999999;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.blog-stat-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
}

.blog-stat i {
    color: #95e1d3;
}

/*Map*/
.map {
    text-align: center;
}

.map-title {
    color: #f38181;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.map-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto 0;
    background-color: #f38181;
}

.map-title a {
    color: inherit;
}

/*Footer*/
.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer-col {
    width: 30%;
}

.footer-col:first-child {
    width: 40%;
}

.footer-col:last-child {
    width: 25%;
}

.footer-inner {
    justify-content: space-between;
    padding-bottom: 65px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
}

.footer-logo {
    color: #cccccc;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 15px;
    color: #999999;
    margin-bottom: 30px;
}

.footer-social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #e5e5e5;
}

.footer-social-header b {
    font-size: 18px;
}

.footer-social-content {
    padding-top: 15px;
    font-size: 15px;
    color: #999999;
    font-style: italic;
    font-weight: lighter;
}

.footer-social {
    margin-bottom: 25px;
}

.footer-social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #95e1d3;
    font-size: 17px;
}

.footer-title {
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*Blogs*/
.blogs-item {
    display: flex;
    margin-bottom: 25px;
}

.blogs-image {
    width: 130px;
    height: 90px;
}

.blogs-cont {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blogs-tt {
    color: #333333;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    width: 100%;
}

.blogs-tt:hover {
    color: #333333;
}

.blogs-date {
    font-size: 13px;
    color: #999999;
    font-style: italic;
    font-weight: 300;
}

/*instagram*/
.instagram {
    display: flex;
    height: 77%;
    flex-wrap: wrap;
}

.instagram img {
    display: inline-block;
    width: 33%;
    max-width: 110px;
    max-height: 100px;
    height: auto;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*subscribe*/
.subscribe {
    width: 100%;
    max-width: 380px;
}

.subscribe-input {
    height: 40px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    font-weight: inherit;
    color: black;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    width: 60%;
    border-right: 0;
}

.subscribe-input::placeholder {
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
}

.subscribe-btn {
    height: 40px;
    padding: 10px 30px;
    margin: 0;
    background-color: #95e1d3;
    border: unset;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.1;
    width: 38%;
    transition: background-color .2s linear;
}

.subscribe-btn:hover {
    background-color: #5fac9e;
}

/*Copyright*/
.copyright {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #333333;
}

.copyright span {
    color: #f38181;
}

/*Calculator*/
@media (max-width: 1230px) {
    /*Intro*/
    .intro-title {
        font-size: 120px;
    }

    .intro-suptitle {
        font-size: 50px;
    }

    /*we-do*/
    .we-do_item {
        width: 100%;
    }

    .we-do--img img {
        display: none;
    }

    /*blogs*/
    .blogs-image {
        width: 30%;
        height: auto;
    }

    .blogs-tt {
        font-size: 14px;
    }

    .blogs-date {
        font-size: 15px;
    }
}

/*Noutbook*/
@media (max-width: 990px) {
    /*Intro*/
    .intro {
        min-height: 650px;
    }

    .intro-title {
        font-size: 95px;
    }

    .intro-suptitle {
        font-size: 30px;
    }

    /*Stat*/
    .stat-item {
        flex: none;
        width: 33%;
        border: none;
        padding: 30px 20px;
    }

    .stat-item:last-child {
        border: none;
    }

    .stat {
        justify-content: center;
    }

    /*services*/
    .services-item {
        width: 45%;
    }

    .services-item--border {
        padding-bottom: 0;
        margin-bottom: 0;
        border: unset;
    }

    /*clients*/
    .clients-item {
        padding: 0 10px 0 150px;
    }

    .clients-photo {
        left: 20px;
    }

    /*footer*/
    .footer-inner {
        flex-wrap: wrap;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col:first-child {
        width: 100%;
    }

    .footer-col:last-child {
        width: 100%;
        display: block;
    }

    .instagram img {
        margin: 3px;
    }
}

/*Tablete*/
@media (max-width: 800px) {
    /*nav*/
    .nav {
        display: none;
        position: absolute;
        width: 100vw;
        top: 100%;
        left: -2.1%;
        background-color: #eb8b8d;
    }

    .nav-link {
        display: block;
        width: 100%;
        margin: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }

    /*section*/
    .section {
        padding: 30px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /*slider*/
    .slider-text {
        display: none;
    }

    .slider-item.active:before {
        width: 50%;
    }

    /*about*/
    .about {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .about-item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 20px;
    }

    /*services*/
    .services {
        justify-content: center;
    }

    .services-item {
        width: 90%;
        max-width: 450px;
    }

    /*Devices*/
    .devices {
        max-width: 500px;
    }

    .devices-item--iphone {
        width: 280px;
    }

    /*reviews*/
    .reviews .slick-slider{
        padding: 0 70px;
    }

    .reviews-item {
        padding-left: 160px;
    }

    .reviews-text {
        font-size: 17px;
    }

    .reviews-photo{
        width: 150px;
        height: 150px;
    }

    .reviews-author {
        font-size: 20px;
    }

    .reviews-author:before {
        width: 35px;
    }

    /*works*/
    .works {
        display: flex;
        flex-wrap: wrap;
    }

    .works-col {
        flex: none;
        width: 50%;
    }

    /*clients*/
    .clients-item {
        width: 100%;
        margin-bottom: 30px;
    }

    /*blogs*/
    .blog {
        flex-wrap: wrap;
    }

    .blog-item {
        width: 80%;
        margin-bottom: 30px;
    }

    .blog-footer {
        padding: 0;
    }

    /*blogs*/
    .blogs-tt {
        font-size: 12px;
    }

    .blogs-date {
        font-size: 13px;
    }
}

/*Mobile*/
@media (max-width: 600px) {
    /*Intro*/
    .intro-title {
        font-size: 45px;
    }

    .intro-suptitle {
        font-size: 20px;
    }

    /*section*/
    .section-header {
        margin-bottom: 50px;
    }

    .section-title {
        font-size: 23px;
    }

    .section-subtitle {
        font-size: 20px;
    }

    .section-title:after {
        margin: 20px auto;
    }

    /*Stat*/
    .stat-item {
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
    }

    .stat-count {
        font-size: 55px;
    }

    /*Devices*/
    .devices {
        max-width: 320px;
    }

    .devices-item--iphone {
        width: 180px;
    }

    /*reviews*/
    .reviews {
        text-align: center;
        border-top: 1px solid #95e1d3;
        border-bottom: 1px solid #95e1d3;
    }

    .reviews .slick-slider{
        padding: 0 40px;
    }

    .reviews-item {
        padding: 20px 0;
    }

    .reviews-photo {
        opacity: 0;
    }

    /*clients*/
    .clients-photo {
        display: none;
    }

    .clients-item {
        padding: 0;
        margin: 10px;
    }

    .clients-item:first-child {
        margin-top: 0;
    }

    /*Works*/
    .works-col {
        width: 100%;
        height: auto;
    }

    /*Subscribe*/
    .subscribe {
        display: flex;
        flex-wrap: wrap;
    }

    .subscribe-btn {
        font-size: 12px;
        padding: 10px 20px;
    }
}

@media (max-width: 320px) {
    /*devices-item--iphone*/
    .devices-item--iphone {
        width: 151px;
        top: 39%;
    }
}